@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --primary-color: #240831;
    --secondary-color: #E4E2EA;
    --text-collor: #E44B7D;
    --hover-color: #54086B;
    --primaruy-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif, 600;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--text-collor);
}

.main {
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
}

.title_emphasis {
    color: var(--secondary-color);
    text-overflow: ellipsis;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 20rem;
    gap: 8%;
}

.presentation__content__title {
    width: 100%;
    font-family: var(--primaruy-font);
    font-size: 2.375rem;
}

.presentation__content__paragraf {
    font-size: 1.25rem;
    font-family: var(--secondary-font);
}

.text__to__social {
    font-family: var(--primaruy-font);
    font-size: 1rem;

}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15%;
}

.link__logo {
    height: 70%;
}

.presentation__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 1%;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    border: 1.4px solid var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--secondary-font);
}

.presentation__links:hover {
    background-color: var(--hover-color);
}

.backimage {
    border-radius: 5%;
    border: 10px solid rgba(33, 21, 34, .05);
    width: 48%;
    height: 450px;
}

.footer {

    background-color: var(--primaruy-font);
    font-family: var(--secondary-font);
    margin-top: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.footer__son {
    display: flex;
    justify-content: center;
}

.footer:hover {
    background-color: var(--hover-color);
}

.header {
    padding: .5% 0 .5% 5%;
    border-bottom: 1px solid var(--secondary-color);
}

.navigation__menu {
    display: flex;
    gap: 5%;

}

.navigation__link {
    font-family: var(--secondary-font) 1.5rem;
    color: var(--secondary-color);
    padding: 0.8% 0.8%;
    border-radius: 5%;
    text-decoration: none;
}

.navigation__link:hover {
    background-color: var(--hover-color);
    border: 0.1px solid var(--secondary-color);
    cursor: pointer;
}

@media (max-width: 600px) {
    .presentation__content {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__content {
        width: auto;
        ;
    }

    .header {
        padding: 10%;
    }

    .navigation__menu {
        justify-content: center;

    }
}